In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# LABEL ENCODER

In [44]:
data=pd.read_csv('C:/Users/ASUS/IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [45]:
data1=data.copy()

In [46]:
data1

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [47]:
labelencoder=LabelEncoder()
data1.iloc[:,-1]=labelencoder.fit_transform(data1.iloc[:,-1])

In [48]:
data1.iloc[:,-1]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

# ONE HOT ENCODING

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [49]:
data=pd.read_csv('C:/Users/ASUS/IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [50]:
enc=OneHotEncoder(handle_unknown='ignore')

In [51]:
enc

OneHotEncoder(handle_unknown='ignore')

In [52]:
#passing bridge
enc_df=pd.DataFrame(enc.fit_transform(data[['species']]).toarray())

In [53]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [54]:
data_final=data.iloc[:,0:4].join(enc_df)

In [55]:
data_final

     sepal_length  sepal_width  petal_length  petal_width    0    1    2
0             5.1          3.5           1.4          0.2  1.0  0.0  0.0
1             4.9          3.0           1.4          0.2  1.0  0.0  0.0
2             4.7          3.2           1.3          0.2  1.0  0.0  0.0
3             4.6          3.1           1.5          0.2  1.0  0.0  0.0
4             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
145           6.7          3.0           5.2          2.3  0.0  0.0  1.0
146           6.3          2.5           5.0          1.9  0.0  0.0  1.0
147           6.5          3.0           5.2          2.0  0.0  0.0  1.0
148           6.2          3.4           5.4          2.3  0.0  0.0  1.0
149           5.9          3.0           5.1          1.8  0.0  0.0  1.0

[150 rows x 7 columns]

In [56]:
#using pandas
data=pd.get_dummies(data)

In [57]:
data

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

# ISOLATION FOREST (OUTLIERS)

In [21]:
from sklearn.ensemble import IsolationForest

In [58]:
data

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [59]:
#training model
clf=IsolationForest(random_state=10,contamination=0.1)
clf.fit(data)

IsolationForest(contamination=0.1, random_state=10)

In [60]:
#prediction
y_preds_outliers=clf.predict(data)

In [61]:
#-1 for outliers and 1 for inliers
y_preds_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

# CORRELATION USING PPS

In [37]:
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from ppscore) (1.2.4)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in c:\users\asus\anaconda3\lib\site-packages (from ppscore) (0.24.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\asus\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\asus\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13050 sha256=087e226263c9889634ab6e8e52a1b1dc7de449b1cee86bf4102741df1ec5a869
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\fb\0e\65\da65ce669381fc01b6ef990d301d3586991f89bff1175877a4
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [38]:
import ppscore as pps

In [63]:
data=pd.read_csv('C:/Users/ASUS/IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [64]:
pps.score(data,'sepal_length','petal_width')

{'x': 'sepal_length',
 'y': 'petal_width',
 'ppscore': 0.4311628114708258,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 0.6453333333333334,
 'model_score': 0.36708959899749377,
 'model': DecisionTreeRegressor()}

In [65]:
#calculate for whole column
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,sepal_length,sepal_length,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,sepal_length,sepal_width,0.000000,regression,True,mean absolute error,0.327333,0.362073,DecisionTreeRegressor()
2,sepal_length,petal_length,0.550575,regression,True,mean absolute error,1.488000,0.668745,DecisionTreeRegressor()
3,sepal_length,petal_width,0.431163,regression,True,mean absolute error,0.645333,0.367090,DecisionTreeRegressor()
4,sepal_length,species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,sepal_width,sepal_length,0.001902,regression,True,mean absolute error,0.684667,0.683364,DecisionTreeRegressor()
6,sepal_width,sepal_width,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,sepal_width,petal_length,0.167773,regression,True,mean absolute error,1.488000,1.238354,DecisionTreeRegressor()
8,sepal_width,petal_width,0.129681,regression,True,mean absolute error,0.645333,0.561646,DecisionTreeRegressor()
9,sepal_width,species,0.179145,classification,True,weighted F1,0.353333,0.469180,DecisionTreeClassifier()
10,petal_length,sepal_length,0.524480,regression,True,mean absolute error,0.684667,0.325573,DecisionTreeRegressor()
11,petal_length,sepal_width,0.041298,regression,True,mean absolute error,0.327333,0.313815,DecisionTreeRegressor()
12,petal_length,petal_length,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,petal_length,petal_width,0.745236,regression,True,mean absolute error,0.645333,0.164408,DecisionTreeRegressor()
14,petal_length,species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,petal_width,sepal_length,0.384320,regression,True,mean absolute error,0.684667,0.421535,DecisionTreeRegressor()
16,petal_width,sepal_width,0.258780,regression,True,mean absolute error,0.327333,0.242626,DecisionTreeRegressor()
17,petal_width,petal_length,0.798971,regression,True,mean absolute error,1.488000,0.299131,DecisionTreeRegressor()
18,petal_width,petal_width,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,petal_width,species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,species,sepal_length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,species,sepal_width,0.183645,regression,True,mean absolute error,0.327333,0.267220,DecisionTreeRegressor()
22,species,petal_length,0.785451,regression,True,mean absolute error,1.488000,0.319249,DecisionTreeRegressor()
23,species,petal_width,0.755378,regression,True,mean absolute error,0.645333,0.157863,DecisionTreeRegressor()
24,species,species,1.000000,predict_itself,True,None,0.000000,1.000000,None